/* https://bootsnipp.com/gilsongilbert  */
.mytext {
    border:0;padding:0.625em;background:whitesmoke;
}
.text {
    width:75%;display:flex;flex-direction:column;
}

.text-l {
    float:left;padding-right:10px;
}

.text-r {
    float:right;padding-left:10px;
}

.avatar {
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}

.macro {
    margin-top:0.313em;width:85%;border-radius:0.313em;padding:0.313em;display:flex;
}

.msj-rta {
    float:right;background:whitesmoke;
}

.msj {
    float:left;background:white;
}

.navbar {
    justify-content: center;
}

.img-circle {
    display: block;
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

li {
    display: none;
}

ul {
    width:100%;
    display:flex;
    flex-direction: column;
    position:absolute;
    list-style-type: none;
    padding: 1.125em;
    overflow-x: hidden;
    overflow-y: scroll;
    bottom: 32px;
}

main {
    height: 100%;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0; 
}

footer {
    margin-bottom:  1.125em;
    padding:  1.125em;
}

body {
    background-image: url("/images/eliza-background.png");
}